{% extends 'base.html.twig' %}

{% block title %}Réussite{% endblock %}

{% block body %}

    <div class="bad-gif">
        <img src="{{ asset('assets/gif/no2.gif') }}" alt="Bad Grumpy cat">

        <h2>Nope... c’est une fake news...</h2>
    </div>
    <div class="container ">
    <div class="bad-text">

        <div class="row">
            <div class="col-12">
                <h3>Les bonnes réponses:</h3><br>
    <div class="container middle">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('assets/gif/no2.gif') }}" alt="Bad Grumpy cat">
            </div>
            <div class="col-12">
                <h5>1. 2019 c'est récent !</h5>
                <p>Une bonne information est souvent récente, il faut se méfier des articles qui datent.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <H5>2 - Je le connais c’est une source officielle </H5>
                <p>Il est important de vérifier que l’article provient bien d’un journal ou d’un blog officiel, car il existe beaucoup de sites parodiques ou de faux blogs sur internet.  Si j’ai un doute, je vérifie sur Google ou je demande à un adulte.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <H5>3 -  Elle est signée par un photographe</H5>
                <p>Il est important de vérifier qui est l’auteur de la photo, où elle a été prise, à quelle date, comment a-t-elle été diffusée ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <H5>4 -  Je connais ce site</H5>
                <p>Il est fiable pour les mêmes raisons que la question 2.</p>
                <h2>Nope... c’est une fake news...</h2>
            </div>
        </div>

        <div class="response">
            <div class="row">
                <div class="col-12">
                    <h3>Les bonnes réponses</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>1. 2019 c'est récent !</p>
                    <p>Une bonne information est souvent récente, il faut se méfier des articles qui datent.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>2 - Je le connais c’est une source officielle </p>
                    <p>Il est important de vérifier que l’article provient bien d’un journal ou d’un blog officiel, car il existe beaucoup de sites parodiques ou de faux blogs sur internet.  Si j’ai un doute, je vérifie sur Google ou je demande à un adulte.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>3 -  Elle est signée par un photographe</p>
                    <p>Il est important de vérifier qui est l’auteur de la photo, où elle a été prise, à quelle date, comment a-t-elle été diffusée ?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>4 -  Je connais ce site</p>
                    <p>Il est fiable pour les mêmes raisons que la question 2.</p>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}