{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3 bg-white">
                <h1></h1>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Te voici sur Facebook. Tu vois apparaître ce post dans ton flux.</br>
            A ton avis, est ce une fake-news ?</h2>

        <h2><img src="{{ asset('assets/img/FB-page.jpg') }}" class="imageCenter" height="500" width="auto"
                 alt="Photo Facebook accueil"/></h2>
    </div>

{% endblock %}

