<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-pers">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/"><img src="../assets/img/home.png" alt="Accueil" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Instagram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">What's App</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>


{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>