{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <div class="row title">
            <div class="col-12">
                <h1>Fakedéclic</h1>
            </div>
            <div class="col-12">
                <p>Choisis ton réseau et réponds aux questions.</p>
            </div>
            <div class="col-12">
                <p>Sauras-tu retrouver les fakes news et autres rumeurs ?</p>
            </div>
        </div>

        <div class="row game_choice">
            <div class="col-4">
                <a href="#"><img class="home_img" src="{{ asset('assets/img/Facebook_accueil.jpg') }}" alt="Facebook accueil" /><br>Je vais sur Facebook</a>
            </div>
            <div class="col-4">
                <a href="#"><img class="home_img" src="{{ asset('assets/img/Instagram_accueil1.jpg') }}" alt="Instagram accueil" /><br>Je vais sur Facebook</a>
            </div>
            <div class="col-4">
                <a href="#"><img class="home_img" src="{{ asset('assets/img/Whatsapp_accueil.jpg') }}" alt="Whatsapp accueil" /><br>Je vais sur Facebook</a>
            </div>
        </div>
    </div>

{% endblock %}